{% extends '_layouts/elementindex' %}

{% set title = 'Campaigns'|t('dispatch') %}
{% set selectedSubnavItem = 'campaigns' %}
{% set showSiteMenu = false %}

{% block actionButton %}
    <a href="{{ url('dispatch/campaigns/new') }}" class="btn submit">{{ 'New Campaign'|t('dispatch') }}</a>
{% endblock %}
