{% extends '_layouts/elementindex' %}

{% set title = 'Mailing Lists'|t('dispatch') %}
{% set selectedSubnavItem = 'lists' %}
{% set showSiteMenu = false %}
{% set showStatusMenu = false %}

{% block actionButton %}
    <a href="{{ url('dispatch/lists/new') }}" class="btn submit">{{ 'New List'|t('dispatch') }}</a>
{% endblock %}
